<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .block {
        width: 350px;
        height: 200px;
      }
      .btn {
        width: 35px;
        height: 35px;
      }
      .like {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" @keyup.enter="send()" /><button @click="send()">
        Отправить
      </button>
      <h3>Ссылка</h3>
      <a :href="linkHref">my new link</a>
      <img :src="imgPhoto" alt="photo" />
      <div class="block" :style="styleBlock">Lorem ipsum dolor sit amet.</div>
      <h2>{{ modelData }}</h2>
      <input type="text" v-model.lazy="modelData" />
      <button @click="headingText">Показать заголовок</button>
      <h2>Калькулятор</h2>
      <input type="text" v-model.number="firstNum" />
      <input type="text" v-model.number="secondNum" />
      = {{ result }}
      <div>
        <button @click="plus">+</button>
        <button>-</button><button>*</button><button>/</button>
      </div>

      <h2>Конструктор</h2>
      <input type="text" v-model="blockWidth" />
      <input type="text" v-model="blockColor" />
      <div class="block2" :style="change">Lorem ipsum dolor sit amet.</div>

      <h2>List</h2>
      <ul>
        <li v-for="item in listItems" :key="item.id">{{ item }}</li>
      </ul>
      <input type="text" v-model="newList" @keyup.enter="addItem" />

      <article v-for="article in data" :key="article.id" class="article">
        <h2 class="article__title">{{ article.title }}</h2>
        <p class="article__text">{{ article.text }}</p>
        <button class="btn" @click="likeToggle = !likeToggle" :class="{like: likeToggle}">like</button>
      </article>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
            likeToggle: false,
            data: [
                {
                    title: 'title text',
                    text: 'description text info element',
                },
                {
                    title: 'new title text',
                    text: 'new description text info element',
                },
            ],        
            listItems: [1, 2, 4],
            newList: '',
            blockWidth: 100,
            blockColor: "#ccc",
            firstNum: 0,
            secondNum: 0,
            result: 0,
            modelData: "",
            linkHref: "product.html",
            imgPhoto: "photo.jpg",
            styleBlock: {
                backgroundColor: "green",
                color: "red",
            },
        },
        methods: {
            addItem() {
                this.listItems.push(this.newList);
            },
            headingText() {
                if (this.modelData === "") {
                    this.modelData = "Заголовок для блока";
                }
            },
            send() {
                console.log("Данные отпралены");
            },
            plus() {
                this.result = this.firstNum + this.secondNum;
            },
            },
            computed: {
            change() {
                return {
                width: `${this.blockWidth}px`,
                height: `${this.blockWidth}px`,
                backgroundColor: this.blockColor,
                };
            },
            },
      });
    </script>
  </body>
</html>
