<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-for="product in products" :key="product.id">
            <input min="1" type="number" v-model="product.quantity">
            <input type="checkbox" name="" id="" v-model="product.bought">
            {{ product.name }}
            {{ product.bought }} -
            {{ product.quantity }}
        </div>        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
            products: [
                { id: 1, name: 'Молоко', quantity: 2, bought: false },
                { id: 2, name: 'Хлеб', quantity: 1, bought: true },
                { id: 3, name: 'Яблоки', quantity: 5, bought: false },
                { id: 4, name: 'Мясо', quantity: 0, bought: false }
                ]
            }
        });
    </script>
</body>
</html>